/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.normal {
  height: 90vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #3b4363;
  background: radial-gradient(#1f3756, #141539); }
  .normal .top {
    width: 75%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 35%;
    border: 4px solid rgba(96, 110, 133, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    .normal .top img {
      width: 90px;
      padding-left: 10px; }
      .normal .top img:hover {
        cursor: pointer; }
    .normal .top .score {
      width: 80px;
      background-color: white;
      border-radius: 4px;
      grid-area: 1 / 3;
      text-align: center;
      padding: 10px; }
      .normal .top .score h3 {
        text-transform: uppercase; }
      .normal .top .score .points {
        font-size: 2.5em;
        font-weight: 700; }
  .normal main .icons, .normal main .game .paper, .normal main .game .scissors, .normal main .game .rock, .normal main .vs .user .paper, .normal main .vs .user .scissors, .normal main .vs .user .rock, .normal main .vs .cpu .hollow, .normal main .vs .cpu .paper, .normal main .vs .cpu .scissors, .normal main .vs .cpu .rock, .normal .bonus main .game .lizard, .bonus .normal main .game .lizard, .normal .bonus main .game .spock, .bonus .normal main .game .spock {
    background-color: white;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    border-width: 15px;
    border-style: solid; }
    .normal main .icons input, .normal main .game .paper input, .normal main .game .scissors input, .normal main .game .rock input, .normal main .vs .user .paper input, .normal main .vs .user .scissors input, .normal main .vs .user .rock input, .normal main .vs .cpu .hollow input, .normal main .vs .cpu .paper input, .normal main .vs .cpu .scissors input, .normal main .vs .cpu .rock input, .normal .bonus main .game .lizard input, .bonus .normal main .game .lizard input, .normal .bonus main .game .spock input, .bonus .normal main .game .spock input {
      padding: 40px;
      margin-top: -20px;
      margin-left: -15px; }
    .normal main .icons img, .normal main .game .paper img, .normal main .game .scissors img, .normal main .game .rock img, .normal main .vs .user .paper img, .normal main .vs .user .scissors img, .normal main .vs .user .rock img, .normal main .vs .cpu .hollow img, .normal main .vs .cpu .paper img, .normal main .vs .cpu .scissors img, .normal main .vs .cpu .rock img, .normal .bonus main .game .lizard img, .bonus .normal main .game .lizard img, .normal .bonus main .game .spock img, .bonus .normal main .game .spock img {
      padding-top: 20px; }
  .normal main .game {
    background-image: url("../../assets/images/bg-triangle.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 340px;
    margin: auto;
    margin-bottom: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .normal main .game .icons-hover:hover, .normal main .game .paper:hover, .normal main .game .scissors:hover, .normal main .game .rock:hover, .normal .bonus main .game .lizard:hover, .bonus .normal main .game .lizard:hover, .normal .bonus main .game .spock:hover, .bonus .normal main .game .spock:hover {
      cursor: pointer; }
      .normal main .game .icons-hover:hover input, .normal main .game .paper:hover input, .normal main .game .scissors:hover input, .normal main .game .rock:hover input, .normal .bonus main .game .lizard:hover input, .bonus .normal main .game .lizard:hover input, .normal .bonus main .game .spock:hover input, .bonus .normal main .game .spock:hover input {
        transform: scale(1.1); }
    .normal main .game .paper {
      grid-area: 1 / 1;
      border-color: #4865f4; }
    .normal main .game .scissors {
      grid-area: 1 / 3;
      border-color: #ec9e0e; }
    .normal main .game .rock {
      grid-area: 2 / 2;
      border-color: #dc2e4e;
      justify-self: center; }
      .normal main .game .rock input {
        padding-top: 45px; }
  .normal main .vs {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    margin-bottom: 22%; }
    .normal main .vs .h3, .normal main .vs .user h3, .normal main .vs .cpu h3 {
      padding-top: 30px;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 2px;
      font-weight: 700; }
    .normal main .vs .box, .normal main .vs .user, .normal main .vs .cpu {
      width: 100%;
      position: relative;
      color: white;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      text-align: center; }
    .normal main .vs .user .paper {
      display: none;
      border-color: #4865f4; }
    .normal main .vs .user .scissors {
      display: none;
      border-color: #ec9e0e; }
    .normal main .vs .user .rock {
      display: none;
      border-color: #dc2e4e;
      padding-top: 5px; }

@keyframes pop {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }
    .normal main .vs .add-pop, .normal main .vs .cpu .paper, .normal main .vs .cpu .scissors, .normal main .vs .cpu .rock, .normal .bonus main .vs .cpu .lizard, .bonus .normal main .vs .cpu .lizard, .normal .bonus main .vs .cpu .spock, .bonus .normal main .vs .cpu .spock {
      animation-name: pop;
      animation-duration: 1s; }
    .normal main .vs .cpu .hollow {
      display: block;
      width: 100px;
      height: 100px;
      border: none;
      margin-top: 20px;
      margin-bottom: 25px;
      background: #141539; }
    .normal main .vs .cpu .paper {
      display: none;
      border-color: #4865f4; }
    .normal main .vs .cpu .scissors {
      display: none;
      border-color: #ec9e0e; }
    .normal main .vs .cpu .rock {
      display: none;
      border-color: #dc2e4e;
      padding-top: 5px; }
  .normal main .result {
    display: none;
    width: 55%;
    margin: auto;
    margin-bottom: 15%; }
    .normal main .result h3 {
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-size: 3.2em;
      font-weight: 700;
      margin-bottom: 10%; }
    .normal main .result button {
      border: 2px solid white;
      border-radius: 10px;
      width: 100%;
      margin: auto;
      padding: 12px;
      color: #3b4363;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      transition-duration: 0.5s; }
      .normal main .result button:hover {
        color: white; }
  .normal main .rules {
    width: 100%;
    text-align: center;
    margin-bottom: 5%; }
    .normal main .rules button {
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      width: 35%;
      margin: auto;
      padding: 10px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      transition-duration: 0.5s; }
      .normal main .rules button:hover {
        cursor: pointer;
        background-color: white;
        color: #3b4363;
        transform: scale(1.1); }
  .normal main .modal {
    background-color: white;
    padding-top: 25%; }
    .normal main .modal .inside-modal {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center; }
      .normal main .modal .inside-modal h2 {
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25%;
        text-align: center; }
      .normal main .modal .inside-modal .triangle-rule {
        width: 80%;
        margin: auto;
        margin-bottom: 50%; }
      .normal main .modal .inside-modal .close {
        width: 7%;
        margin: auto; }

@media screen and (min-width: 1366px) {
  .normal .top {
    margin-top: 3.5%;
    width: 50%;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 4%; }
    .normal .top img {
      width: 160px; }
    .normal .top .score {
      width: 150px;
      height: 110px;
      border-radius: 8px;
      padding: 15px; }
      .normal .top .score h3 {
        font-size: 1.1em; }
      .normal .top .score .points {
        font-size: 4em; }
  .normal main .icons, .normal main .game .paper, .normal main .game .scissors, .normal main .game .rock, .normal main .vs .user .paper, .normal main .vs .user .scissors, .normal main .vs .user .rock, .normal main .vs .cpu .hollow, .normal main .vs .cpu .paper, .normal main .vs .cpu .scissors, .normal main .vs .cpu .rock, .normal .bonus main .game .lizard, .bonus .normal main .game .lizard, .normal .bonus main .game .spock, .bonus .normal main .game .spock {
    width: 200px;
    height: 200px;
    border-width: 25px; }
    .normal main .icons input, .normal main .game .paper input, .normal main .game .scissors input, .normal main .game .rock input, .normal main .vs .user .paper input, .normal main .vs .user .scissors input, .normal main .vs .user .rock input, .normal main .vs .cpu .hollow input, .normal main .vs .cpu .paper input, .normal main .vs .cpu .scissors input, .normal main .vs .cpu .rock input, .normal .bonus main .game .lizard input, .bonus .normal main .game .lizard input, .normal .bonus main .game .spock input, .bonus .normal main .game .spock input {
      height: 190px;
      padding: 55px; }
  .normal main .game {
    width: 560px;
    background-size: 50%;
    margin-bottom: 1%; }
    .normal main .game .rock input {
      padding-top: 60px;
      width: 180px;
      height: 180px; }
  .normal main .vs {
    width: 50%;
    margin: auto; }
    .normal main .vs .subtitle, .normal main .vs .user h3, .normal main .vs .cpu h3 {
      grid-area: 1 / 1;
      font-size: 1.5em;
      margin-bottom: 50px; }
    .normal main .vs .deskicons, .normal main .vs .user .paper, .normal main .vs .user .scissors, .normal main .vs .user .rock, .normal main .vs .cpu .paper, .normal main .vs .cpu .scissors, .normal main .vs .cpu .rock, .normal .bonus main .vs .user .lizard, .bonus .normal main .vs .user .lizard, .normal .bonus main .vs .user .spock, .bonus .normal main .vs .user .spock, .normal .bonus main .vs .cpu .lizard, .bonus .normal main .vs .cpu .lizard, .normal .bonus main .vs .cpu .spock, .bonus .normal main .vs .cpu .spock {
      width: 270px;
      height: 270px; }
      .normal main .vs .deskicons img, .normal main .vs .user .paper img, .normal main .vs .user .scissors img, .normal main .vs .user .rock img, .normal main .vs .cpu .paper img, .normal main .vs .cpu .scissors img, .normal main .vs .cpu .rock img, .normal .bonus main .vs .user .lizard img, .bonus .normal main .vs .user .lizard img, .normal .bonus main .vs .user .spock img, .bonus .normal main .vs .user .spock img, .normal .bonus main .vs .cpu .lizard img, .bonus .normal main .vs .cpu .lizard img, .normal .bonus main .vs .cpu .spock img, .bonus .normal main .vs .cpu .spock img {
        margin-top: 30px;
        height: 130px; }
    .normal main .vs .cpu .hollow {
      width: 210px;
      height: 210px; }
  .normal main .result {
    width: 15%;
    margin-bottom: 0; }
  .normal main .rules {
    width: 10%;
    text-align: right;
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 1%; }
    .normal main .rules button {
      width: 140px; }
  .normal main .modal {
    padding-top: 0; }
    .normal main .modal .inside-modal .triangle-rule {
      margin-bottom: 20%; } }

.bonus {
  height: 90vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #3b4363;
  background: radial-gradient(#1f3756, #141539); }
  .bonus .top {
    width: 75%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 70px;
    border: 4px solid rgba(96, 110, 133, 0.5);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    .bonus .top img {
      width: 90px;
      padding-left: 10px; }
      .bonus .top img:hover {
        cursor: pointer; }
    .bonus .top .score {
      width: 80px;
      background-color: white;
      border-radius: 4px;
      grid-area: 1 / 3;
      text-align: center;
      padding: 10px; }
      .bonus .top .score h3 {
        text-transform: uppercase; }
      .bonus .top .score .points {
        font-size: 2.5em;
        font-weight: 700; }
  .bonus main .icons, .bonus .normal main .vs .user .paper, .normal .bonus main .vs .user .paper, .bonus .normal main .vs .user .scissors, .normal .bonus main .vs .user .scissors, .bonus .normal main .vs .user .rock, .normal .bonus main .vs .user .rock, .bonus .normal main .vs .cpu .hollow, .normal .bonus main .vs .cpu .hollow, .bonus .normal main .vs .cpu .paper, .normal .bonus main .vs .cpu .paper, .bonus .normal main .vs .cpu .scissors, .normal .bonus main .vs .cpu .scissors, .bonus .normal main .vs .cpu .rock, .normal .bonus main .vs .cpu .rock, .bonus main .game .paper, .bonus main .game .scissors, .bonus main .game .rock, .bonus main .game .lizard, .bonus main .game .spock {
    background-color: white;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    border-width: 10px;
    border-style: solid;
    position: absolute; }
    .bonus main .icons input, .bonus .normal main .vs .user .paper input, .normal .bonus main .vs .user .paper input, .bonus .normal main .vs .user .scissors input, .normal .bonus main .vs .user .scissors input, .bonus .normal main .vs .user .rock input, .normal .bonus main .vs .user .rock input, .bonus .normal main .vs .cpu .hollow input, .normal .bonus main .vs .cpu .hollow input, .bonus .normal main .vs .cpu .paper input, .normal .bonus main .vs .cpu .paper input, .bonus .normal main .vs .cpu .scissors input, .normal .bonus main .vs .cpu .scissors input, .bonus .normal main .vs .cpu .rock input, .normal .bonus main .vs .cpu .rock input, .bonus main .game .paper input, .bonus main .game .scissors input, .bonus main .game .rock input, .bonus main .game .lizard input, .bonus main .game .spock input {
      position: absolute;
      transform: scale(0.7);
      top: 10px;
      left: 10px; }
    .bonus main .icons img, .bonus .normal main .vs .user .paper img, .normal .bonus main .vs .user .paper img, .bonus .normal main .vs .user .scissors img, .normal .bonus main .vs .user .scissors img, .bonus .normal main .vs .user .rock img, .normal .bonus main .vs .user .rock img, .bonus .normal main .vs .cpu .hollow img, .normal .bonus main .vs .cpu .hollow img, .bonus .normal main .vs .cpu .paper img, .normal .bonus main .vs .cpu .paper img, .bonus .normal main .vs .cpu .scissors img, .normal .bonus main .vs .cpu .scissors img, .bonus .normal main .vs .cpu .rock img, .normal .bonus main .vs .cpu .rock img, .bonus main .game .paper img, .bonus main .game .scissors img, .bonus main .game .rock img, .bonus main .game .lizard img, .bonus main .game .spock img {
      padding-top: 20px; }
  .bonus main .og-icons, .bonus main .vs .user .paper, .bonus main .vs .user .scissors, .bonus main .vs .user .rock, .bonus main .vs .user .lizard, .bonus main .vs .user .spock, .bonus main .vs .cpu .hollow, .bonus main .vs .cpu .paper, .bonus main .vs .cpu .scissors, .bonus main .vs .cpu .rock, .bonus main .vs .cpu .lizard, .bonus main .vs .cpu .spock {
    background-color: white;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    border-width: 15px;
    border-style: solid; }
    .bonus main .og-icons input, .bonus main .vs .user .paper input, .bonus main .vs .user .scissors input, .bonus main .vs .user .rock input, .bonus main .vs .user .lizard input, .bonus main .vs .user .spock input, .bonus main .vs .cpu .hollow input, .bonus main .vs .cpu .paper input, .bonus main .vs .cpu .scissors input, .bonus main .vs .cpu .rock input, .bonus main .vs .cpu .lizard input, .bonus main .vs .cpu .spock input {
      padding: 40px;
      margin-top: -20px;
      margin-left: -15px; }
    .bonus main .og-icons img, .bonus main .vs .user .paper img, .bonus main .vs .user .scissors img, .bonus main .vs .user .rock img, .bonus main .vs .user .lizard img, .bonus main .vs .user .spock img, .bonus main .vs .cpu .hollow img, .bonus main .vs .cpu .paper img, .bonus main .vs .cpu .scissors img, .bonus main .vs .cpu .rock img, .bonus main .vs .cpu .lizard img, .bonus main .vs .cpu .spock img {
      padding-top: 20px; }
  .bonus main .game {
    background-image: url("../../assets/images/bg-pentagon.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    width: 340px;
    height: 340px;
    margin: auto;
    margin-bottom: 25%;
    position: relative; }
    .bonus main .game .icons-hover:hover, .bonus main .game .paper:hover, .bonus main .game .scissors:hover, .bonus main .game .rock:hover, .bonus main .game .lizard:hover, .bonus main .game .spock:hover {
      cursor: pointer; }
      .bonus main .game .icons-hover:hover input, .bonus main .game .paper:hover input, .bonus main .game .scissors:hover input, .bonus main .game .rock:hover input, .bonus main .game .lizard:hover input, .bonus main .game .spock:hover input {
        transform: scale(0.8); }
    .bonus main .game .paper {
      border-color: #4865f4;
      top: 90px;
      left: 200px; }
    .bonus main .game .scissors {
      border-color: #ec9e0e;
      top: 20px;
      left: 115px; }
    .bonus main .game .rock {
      border-color: #dc2e4e;
      top: 200px;
      left: 180px; }
      .bonus main .game .rock input {
        top: 15px; }
    .bonus main .game .lizard {
      border-color: #834fe3;
      top: 200px;
      left: 50px; }
      .bonus main .game .lizard input {
        left: 4px; }
    .bonus main .game .spock {
      border-color: #40b9ce;
      top: 90px;
      left: 30px; }
      .bonus main .game .spock input {
        left: 15px; }
  .bonus main .vs {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
    margin-bottom: 22%; }
    .bonus main .vs .h3, .bonus main .vs .user h3, .bonus main .vs .cpu h3 {
      padding-top: 30px;
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 2px;
      font-weight: 700; }
    .bonus main .vs .box, .bonus main .vs .user, .bonus main .vs .cpu {
      width: 100%;
      position: relative;
      color: white;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
      text-align: center; }
    .bonus main .vs .user .paper {
      display: none;
      border-color: #4865f4; }
    .bonus main .vs .user .scissors {
      display: none;
      border-color: #ec9e0e; }
    .bonus main .vs .user .rock {
      display: none;
      border-color: #dc2e4e;
      padding-top: 5px; }
    .bonus main .vs .user .lizard {
      display: none;
      border-color: #834fe3; }
    .bonus main .vs .user .spock {
      display: none;
      border-color: #40b9ce; }

@keyframes pop {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }
    .bonus main .vs .add-pop, .bonus main .vs .cpu .paper, .bonus main .vs .cpu .scissors, .bonus main .vs .cpu .rock, .bonus main .vs .cpu .lizard, .bonus main .vs .cpu .spock {
      animation-name: pop;
      animation-duration: 1s; }
    .bonus main .vs .cpu .hollow {
      display: block;
      width: 100px;
      height: 100px;
      border: none;
      margin-top: 20px;
      margin-bottom: 25px;
      background: #141539; }
    .bonus main .vs .cpu .paper {
      display: none;
      border-color: #4865f4; }
    .bonus main .vs .cpu .scissors {
      display: none;
      border-color: #ec9e0e; }
    .bonus main .vs .cpu .rock {
      display: none;
      border-color: #dc2e4e;
      padding-top: 5px; }
    .bonus main .vs .cpu .lizard {
      display: none;
      border-color: #834fe3; }
    .bonus main .vs .cpu .spock {
      display: none;
      border-color: #40b9ce; }
  .bonus main .result {
    display: none;
    width: 55%;
    margin: auto;
    margin-bottom: 15%; }
    .bonus main .result h3 {
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-size: 3.2em;
      font-weight: 700;
      margin-bottom: 10%; }
    .bonus main .result button {
      border: 2px solid white;
      border-radius: 10px;
      width: 100%;
      margin: auto;
      padding: 12px;
      color: #3b4363;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      transition-duration: 0.5s; }
      .bonus main .result button:hover {
        color: white; }
  .bonus main .rules {
    width: 100%;
    text-align: center;
    margin-bottom: 5%; }
    .bonus main .rules button {
      background: none;
      border: 2px solid white;
      border-radius: 10px;
      width: 35%;
      margin: auto;
      padding: 10px;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      transition-duration: 0.5s; }
      .bonus main .rules button:hover {
        cursor: pointer;
        background-color: white;
        color: #3b4363;
        transform: scale(1.1); }
  .bonus main .modal {
    background-color: white;
    padding-top: 25%; }
    .bonus main .modal .inside-modal {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      align-items: center; }
      .bonus main .modal .inside-modal h2 {
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25%;
        text-align: center; }
      .bonus main .modal .inside-modal .triangle-rule {
        width: 80%;
        margin: auto;
        margin-bottom: 50%; }
      .bonus main .modal .inside-modal .close {
        width: 7%;
        margin: auto; }

@media screen and (min-width: 1366px) {
  .bonus .top {
    margin-top: 3.5%;
    width: 50%;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 1%; }
    .bonus .top img {
      width: 120px; }
    .bonus .top .score {
      width: 150px;
      height: 110px;
      border-radius: 8px;
      padding: 15px; }
      .bonus .top .score h3 {
        font-size: 1.1em; }
      .bonus .top .score .points {
        font-size: 4em; }
  .bonus main .og-icons, .bonus main .vs .user .paper, .bonus main .vs .user .scissors, .bonus main .vs .user .rock, .bonus main .vs .user .lizard, .bonus main .vs .user .spock, .bonus main .vs .cpu .hollow, .bonus main .vs .cpu .paper, .bonus main .vs .cpu .scissors, .bonus main .vs .cpu .rock, .bonus main .vs .cpu .lizard, .bonus main .vs .cpu .spock {
    width: 200px;
    height: 200px;
    border-width: 25px; }
  .bonus main .icons, .bonus .normal main .vs .user .paper, .normal .bonus main .vs .user .paper, .bonus .normal main .vs .user .scissors, .normal .bonus main .vs .user .scissors, .bonus .normal main .vs .user .rock, .normal .bonus main .vs .user .rock, .bonus .normal main .vs .cpu .hollow, .normal .bonus main .vs .cpu .hollow, .bonus .normal main .vs .cpu .paper, .normal .bonus main .vs .cpu .paper, .bonus .normal main .vs .cpu .scissors, .normal .bonus main .vs .cpu .scissors, .bonus .normal main .vs .cpu .rock, .normal .bonus main .vs .cpu .rock, .bonus main .game .paper, .bonus main .game .scissors, .bonus main .game .rock, .bonus main .game .lizard, .bonus main .game .spock {
    width: 140px;
    height: 140px;
    border-width: 17px; }
    .bonus main .icons input, .bonus .normal main .vs .user .paper input, .normal .bonus main .vs .user .paper input, .bonus .normal main .vs .user .scissors input, .normal .bonus main .vs .user .scissors input, .bonus .normal main .vs .user .rock input, .normal .bonus main .vs .user .rock input, .bonus .normal main .vs .cpu .hollow input, .normal .bonus main .vs .cpu .hollow input, .bonus .normal main .vs .cpu .paper input, .normal .bonus main .vs .cpu .paper input, .bonus .normal main .vs .cpu .scissors input, .normal .bonus main .vs .cpu .scissors input, .bonus .normal main .vs .cpu .rock input, .normal .bonus main .vs .cpu .rock input, .bonus main .game .paper input, .bonus main .game .scissors input, .bonus main .game .rock input, .bonus main .game .lizard input, .bonus main .game .spock input {
      transform: scale(1);
      padding: 40px;
      margin-left: -20px;
      margin-top: -25px; }
  .bonus main .game {
    width: 560px;
    height: 560px;
    background-size: 65%;
    margin-bottom: 1%; }
    .bonus main .game .icons-hover:hover input, .bonus main .game .paper:hover input, .bonus main .game .scissors:hover input, .bonus main .game .rock:hover input, .bonus main .game .lizard:hover input, .bonus main .game .spock:hover input {
      transform: scale(1.2); }
    .bonus main .game .paper {
      top: 150px;
      left: 350px; }
    .bonus main .game .scissors {
      top: 30px;
      left: 190px; }
    .bonus main .game .rock {
      top: 370px;
      left: 310px; }
      .bonus main .game .rock input {
        top: 15px; }
    .bonus main .game .lizard {
      top: 370px;
      left: 90px; }
      .bonus main .game .lizard input {
        left: 4px; }
    .bonus main .game .spock {
      top: 150px;
      left: 30px; }
      .bonus main .game .spock input {
        left: 15px; }
  .bonus main .vs {
    width: 50%;
    margin: auto; }
    .bonus main .vs .subtitle, .bonus main .vs .user h3, .bonus main .vs .cpu h3 {
      grid-area: 1 / 1;
      font-size: 1.5em;
      margin-bottom: 50px; }
    .bonus main .vs .deskicons, .bonus main .vs .user .paper, .bonus main .vs .user .scissors, .bonus main .vs .user .rock, .bonus main .vs .user .lizard, .bonus main .vs .user .spock, .bonus main .vs .cpu .paper, .bonus main .vs .cpu .scissors, .bonus main .vs .cpu .rock, .bonus main .vs .cpu .lizard, .bonus main .vs .cpu .spock {
      width: 270px;
      height: 270px; }
      .bonus main .vs .deskicons img, .bonus main .vs .user .paper img, .bonus main .vs .user .scissors img, .bonus main .vs .user .rock img, .bonus main .vs .user .lizard img, .bonus main .vs .user .spock img, .bonus main .vs .cpu .paper img, .bonus main .vs .cpu .scissors img, .bonus main .vs .cpu .rock img, .bonus main .vs .cpu .lizard img, .bonus main .vs .cpu .spock img {
        margin-top: 30px;
        height: 130px; }
    .bonus main .vs .cpu .hollow {
      width: 210px;
      height: 210px; }
  .bonus main .result {
    width: 15%;
    margin-bottom: 0; }
  .bonus main .rules {
    width: 10%;
    text-align: right;
    margin-left: auto;
    margin-right: 2%;
    margin-bottom: 1%; }
    .bonus main .rules button {
      width: 140px; }
  .bonus main .modal {
    padding-top: 0; }
    .bonus main .modal .inside-modal .triangle-rule {
      margin-bottom: 20%; } }

/*# sourceMappingURL=style.css.map */