@media screen and (min-width: 1366px) {
    .bonus {
        .top {
            margin-top: 3.5%;
            width: 50%;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 1%;

            img {
                width: 120px;
            }

            .score {
                width: 150px;
                height: 110px;
                border-radius: 8px;
                padding: 15px;

                h3 {
                    font-size: 1.1em;
                }

                .points {
                    font-size: 4em;
                }
            }
        }

        main {
            .og-icons {
                width: 200px;
                height: 200px;
                border-width: 25px;
            }
            
            .icons {
                width: 140px;
                height: 140px;
                border-width: 17px;

                input {
                    transform: scale(1);
                    padding: 40px;
                    margin-left: -20px;
                    margin-top: -25px;
                }
            }

            .game {
                width: 560px;
                height: 560px;
                background-size: 65%;
                margin-bottom: 1%;

                .icons-hover {
                    &:hover {
                        input {
                            transform: scale(1.2);
                        }
                    }
                }

                .paper {
                    top: 150px;
                    left: 350px;
                }
    
                .scissors {
                     
                    top: 30px;
                    left: 190px;
                }
    
                .rock {
                    top: 370px;
                    left: 310px;
    
                    input {
                        top: 15px;
                    }
                }
    
                .lizard {
                    top: 370px;
                    left: 90px;
    
                    input {
                        left: 4px;
                    }
                }
    
                .spock {
                    top: 150px;
                    left: 30px;
    
                    input {
                        left: 15px;
                    }
                }
            }

            .vs {
                width: 50%;
                margin: auto;

                .subtitle {
                    grid-area: 1 / 1;
                    font-size: 1.5em;
                    margin-bottom: 50px;
                }

                .deskicons {
                    width: 270px;
                    height: 270px;

                    img {
                        margin-top: 30px;
                        height: 130px;
                    }
                }

                .user {
                    h3 {
                        @extend .subtitle;
                    }

                    .paper {
                        @extend .deskicons;
                    }

                    .scissors {
                        @extend .deskicons;
                    }

                    .rock {
                        @extend .deskicons;
                    }

                    .lizard {
                        @extend .deskicons;
                    }

                    .spock {
                        @extend .deskicons;
                    }
                }

                .cpu {
                    h3 {
                        @extend .subtitle;
                    }

                    .hollow {
                        width: 210px;
                        height: 210px;
                    }

                    .paper {
                        @extend .deskicons;
                    }

                    .scissors {
                        @extend .deskicons;
                    }

                    .rock {
                        @extend .deskicons;
                    }

                    .lizard {
                        @extend .deskicons;
                    }

                    .spock {
                        @extend .deskicons;
                    }
                }

                .box {

                }
            }

            .result {
                width: 15%;
                margin-bottom: 0;
            }

            .rules {
                width: 10%;
                text-align: right;
                margin-left: auto;
                margin-right: 2%;
                margin-bottom: 1%;
                button {
                    width: 140px;
                }
            }

            .modal {
                padding-top: 0;

                .inside-modal {
                    .triangle-rule {
                        margin-bottom: 20%;
                    }
                }
            }
        }
    }
}