@import 'variables';

body {
    height: 100vh;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: $dark-text;
    background: $background;

    .top {
        width: 75%;
        margin: auto;
        margin-top: 8%;
        margin-bottom: 35%;
        border: 4px solid $header-outline;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        img {
            width: 90px;
            padding-left: 10px;
            
            &:hover {
                cursor: pointer;
                transform: scale(1.2);
            }
        }

        .score {
            width: 80px;
            background-color: white;
            border-radius: 4px;
            grid-area: 1 / 3;
            text-align: center;
            padding: 10px;

            h3 {
            }

            .points {
                font-size: 2.5em;
                font-weight: 700;
            }
        }
    }

    main {

        .icons {
            background-color: white;
            width: 125px;
            height: 125px;
            border-radius: 50%;
            margin: 10px;
            text-align: center;
            border-width: 15px;
            border-style: solid;

            input {
                padding: 40px;
                margin-top: -20px;
                margin-left: -15px;
            }

            img {
                padding-top: 20px;
            }
        }

        .game {
            background-image: url('../../assets/images/bg-triangle.svg');
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: center;
            width: 340px;
            margin: auto;
            margin-bottom: 35%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            .icons-hover {

                &:hover {
                    cursor: pointer;

                    input {
                        transform: scale(1.1);
                    }
                }
            }

            .paper {
                grid-area: 1 / 1;
                @extend .icons, .icons-hover;
                border-color: $paper;
            }

            .scissors {
                grid-area: 1 / 3;
                @extend .icons, .icons-hover;
                border-color: $scissors;
            }

            .rock {
                grid-area: 2 / 2;
                @extend .icons, .icons-hover;
                border-color: $rock;
                justify-self: center;

                input {
                    padding-top: 45px;
                }
            }
        }

        .vs {
            display: none;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            text-align: center;
            margin-bottom: 22%;

            .h3 {
                padding-top: 30px;
                text-transform: uppercase;
                font-size: 0.8em;
                letter-spacing: 2px;
                font-weight: 700;
            }

            .box {
                width: 100%;
                position: relative;
                color: white;
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                justify-items: center;
                text-align: center;
            }

            .user {
                @extend .box;

                .paper {
                    display: none;
                    @extend .icons;
                    border-color: $paper;
                }

                .scissors {
                    display: none;
                    @extend .icons;
                    border-color: $scissors;
                }

                .rock {
                    display: none;
                    @extend .icons;
                    border-color: $rock;
                    padding-top: 5px;
                }

                h3 {
                    @extend .h3;
                    
                }
            }

            @keyframes pop {
                0% { transform: scale(0.5)}
                100% { transform: scale(1.0)}
            }

            .add-pop {
                animation-name: pop;
                animation-duration: 1s;
            }

            .cpu {
                @extend .box;

                .hollow {
                    display: block;
                    @extend .icons;
                    width: 100px;
                    height: 100px;
                    border: none;
                    margin-top: 20px;
                    margin-bottom: 25px;
                    background: hsl(237, 49%, 15%);
                }

                .paper {
                    display: none;
                    @extend .icons, .add-pop;
                    border-color: $paper;
                }

                .scissors {
                    display: none;
                    @extend .icons, .add-pop;
                    border-color: $scissors;
                }

                .rock {
                    display: none;
                    @extend .icons, .add-pop;
                    border-color: $rock;
                    padding-top: 5px;
                }

                h3 {
                    @extend .h3;
                }
            }
        }

        .result {
            display: none;
            width: 55%;
            margin: auto;
            margin-bottom: 15%;

            h3 {
                color: white;
                text-transform: uppercase;
                text-align: center;
                font-size: 3.2em;
                font-weight: 700;
                margin-bottom: 10%;
            }

            button {
                border: 2px solid white;
                border-radius: 10px;
                width: 100%;
                margin: auto;
                padding: 12px;
                color: $dark-text;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
                transition-duration: 0.5s;

                &:hover {
                    color: white;
                }
            }
        }
        
        .rules {
            width: 100%;
            text-align: center;
            margin-bottom: 5%;

            button {
            background: none;
            border: 2px solid white;
            border-radius: 10px;
            width: 35%;
            margin: auto;
            padding: 10px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
            transition-duration: 0.5s;

                &:hover {
                    cursor: pointer;
                    background-color: white;
                    color: $dark-text;
                    transform: scale(1.1);
                }
            }
        }

        .modal {
            background-color: white;
            padding-top: 25%;

            .test {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                align-items: center;

                h2 {
                    font-size: 2em;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin-bottom: 25%;
                    text-align: center;
                }
    
                .triangle-rule {
                    width: 80%;
                    margin: auto;
                    margin-bottom: 50%;
                }
    
                .close {
                    width: 7%;
                    margin: auto;
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}